@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
} 
nav a {
    text-align: center;
    color: #969A96;
    text-decoration: none;
    font-family: "Croissant One", Arial, sans-serif;
    padding: 35px;
}
nav a:hover {
    background-color: #2f3061;
    font-family: "Croissant One", Arial, sans-serif;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Croissant One", Arial, sans-serif;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    text-align: center;
}
#hero-img {
    width: 100%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
.center {
    text-align: center; 
}
#logo_link {
    padding-top: 5px;
}

body {
    background-color: #969A96;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: o;
}
header {
    background-color: #343434;
}
#background {
    background-color: #f7fff7;
}
.msg {
    background-color: #656765 ;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #475d85 ;
    color:#000000;
    padding: 25px 50px;
    margin-top: 200px;
}
nav a:hover {
    color: #f7fff7;
}
.home-title {
    color: #343434;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #343434;
}
.book, .join {
    background-color: #6ca6c1;
    text-decoration: none;
    font-family: "Croissant One", Arial, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: #7fffd4;
    font-family: "Croissant One", Arial, sans-serif;
}
.msg h2 {
    color: #343434;
    text-align: center;
    font-family: "Montserrat", Arial, sans-serif;
}
.msg p {
    color: black;
    text-align: center;
    font-family: "Croissant One", Arial, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #000000;
    text-decoration: none;
    font-family: "Croissant One", Arial, sans-serif;
}
footer a:hover {
    text-decoration: none;
    color: #7fffd4;
    font-family: "Croissant One", Arial, sans-serif;
}
footer p {
    text-decoration: none;
    color: #000000;
    font-family: "Croissant One", Arial, sans-serif;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}